<div class="container main-container">
	<h2>Bar</h2>

	<div>
		Unidade Manual : {{ ConfigManual.unidadeId }} - Token Manual :
		{{ ConfigManual.unidadeToken }}
	</div>

	<div>Unidade : {{ Config.unidadeId }} - Token : {{ Config.unidadeToken }}</div>

	<div>Bebidas 1: {{ barBebida1 }}</div>
	<div>Bebidas 2: {{ barBebida2 }}</div>
	<div>Dados Unidade (service) {{ dadosUnidade }}</div>

	<br /><br /><br /><br />

	<h2>Progress: {{ progress() }}%</h2>

	@if (progress() >= 100) {
		<p>Done processing {{ label() }} of Angular zone!</p>
	}

	<button class="btn btn-success" (click)="processWithinAngularZone()">
		Processar dentro da Zona do Angular
	</button>
	&nbsp;
	<button class="btn btn-danger" (click)="processOutsideOfAngularZone()">
		Processar fora da Zona do Angular
	</button>
</div>
